<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <form method="POST" action="/login" enctype="x-www-form-urlencoded">
    <input type="hidden" name="redirect" value="<%=redirect%>" />
    <div>
      <b>Username</b>
      <input type="text" name="user" required />
    </div>
    <div>
      <b>Password</b>
      <input type="password" name="pw" required />
    </div>

    <button type="submit">Login</button>
  </form>
</html>
