<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <form method="POST" action="/login" enctype="x-www-form-urlencoded">
    <input type="hidden" name="redirect" value="<%=the_redirect%>" />
    <div>
      <b>Username</b>
      <% if(the_username) {%>
      <input type="text" name="username" value="<%=the_username%>" required />
      <% }else{ %>
      <input type="text" name="username" required />
      <%}%>
    </div>
    <div>
      <b>Password</b>
      <% if(the_password) { %>
      <input
        type="password"
        name="password"
        value="<%=
      the_password%>"
        required
      />
      <% } else { %>
      <input type="password" name="password" required />
      <%}%>
    </div>

    <button type="submit">Login</button>
  </form>
</html>
